.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: wheat;
    width: 100%;
    height: 700px;
  }
  
  h1 {
    color: #fff;
  }
  
  .chat-container {
    width: 90%;
  height: 80vh;
    margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-end;
    border-radius: 8px;
    padding: 10px;
 
  }
  
  .messages {
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message {
    padding: 8px;
    margin: 5px 0;
    border-radius: 6px;
    display: flex;
  align-items: flex-start;
  justify-content: space-between;
    flex-direction: column;
    width:90%;
  }
  
  .sent {
    background-color: #daf8cb;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: flex-start !important;
  }
  
  .received {
    background-color: #f0f0f0;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: flex-end !important;
  }
  
  .input-container {
    display: flex;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  